{% extends 'main.html'%}
{% block content %}
<div class="form-group">
    <form class="bg-dark text-white" method="post" action="{% url 'accounts:login' %}">
        {%  csrf_token %}
        <h3> Visit Again !!!!</h3>
        <p>
            <label for="id_username">Username:</label>
            <input class="form-control" type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150"
                   required id="id_username">
        </p>
        <p>
            <label for="id_password">Password:</label>
            <input class="form-control" type="password" name="password" autocomplete="current-password" required id="id_password">
        </p>
        <button class="btn btn-success"> Login Again</button>
    </form>
<!--    <p class="bg-dark text-white"> Don't have an account yet ?  <a href="#"><button class="btn btn-info">Register </button> </a></p>-->
</div>
{% endblock %}